.welcome{

    color: white;
    background-color: burlywood;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.welcome .nav{
    display: inline;
}


footer{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 5px;
    background-color: burlywood;
    color: white;
}

#logo{
    height: 50px;
    width: 20%;
    background-color: white;
}

main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url("web.jpg");
    background-repeat: repeat-x;
    background-color:	#fffff0;
}